  <div class="saw-setting">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="data in players">{{data.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players">
        <td>{{player.name}}</td>
        <td ng-repeat=" data in datas[$index]">
          <input type="checkbox" class="dpn chk" id="{{data.objectId}}-{{data.subjectId}}" ng-checked="data.checked" ng-model="data.checked" ng-click="edit($event, data)">
          <label for="{{data.objectId}}-{{data.subjectId}}"></label>
        </td>
      </tr>
    </tbody>
  </table>
  </div>