<div class="tool-setting">
  <div class="row">
    <button class="btn btn-primary ml20" ng-click="allOpen()">全部开启</button>
    <button class="btn btn-primary ml20" ng-click="allClose()">全部关闭</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 80px;"></th>
        <th style="width: 80px;" ng-repeat="data in items">{{data.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players">
        <td>{{player.name}}</td>
        <td ng-repeat=" data in datas[$index]">
          <input type="checkbox" class="dpn chk" id="{{data.subjectId}}-{{data.objectId}}" ng-checked="data.checked" ng-model="data.checked"
            ng-click="edit($event, data)">
          <label for="{{data.subjectId}}-{{data.objectId}}" title="{{data.subname}}{{data.checked ? '' : '不'}}可看见{{data.name}}"></label>
        </td>
      </tr>
    </tbody>
  </table>
</div>